* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.firstheaderbox {
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .boxheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .boxheader .imgheader {
  width: 115px;
  height: 115px;
  margin: 5px;
}
header .firstheaderbox .boxheader .headertext {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}
header .headertext a {
  text-decoration: none;
  color: black;
}
/*MAIN*/
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
main .container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
}
main .container .imgmain {
  width: 600px;
  height: 400px;
}
main .container .imgmenu {
  width: 600px;
  height: 400px;
}
main .container .menugerechten {
  padding: 12px 16px;
  background-color: orange;
  width: auto;
  font-size: large;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu-spacer {
  width: 220px;
  margin-right: 20px;
  margin-top: 50px;
}

.menu-spacer .menu {
  position: fixed;
}
/*
.menugerechten {
  display: none;
  position: absolute;
  padding: 12px 16px;
  z-index: 1;
  background-color: orange;
}
*/

.menugerechten a:hover {
  background-color: white;
  color: orange;
}

main .menugerechten a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  padding-right: 0;
}
main .menugerechten .textline {
  border-bottom: black 1px solid;
}
main .container .gerechtenlijst {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  min-width: 550px;
  margin-top: 50px;
}
main .container .gerechtenlijst .gerechtheader {
  background-color: red;
  color: white;
  padding: 20px;
}
main .container .gerechtenlijst .gerechtenfirst {
  border: 1px solid red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

main .container .gerechtenlijst .gerechten {
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.gerechtenname {
  font-weight: bolder;
  font-size: x-large;
}
.gerechtendelen {
  color: gray;
  font-size: medium;
  padding-top: 10px;
}
.price {
  font-weight: bold;
  font-size: large;
  font-style: italic;
}
.foodimg img {
  height: 100px;
  width: 100px;
}
.mail {
  width: 25px;
  height: 25px;
  background: url("../img/envelope-solid\ \(1\).svg") no-repeat;
  background-size: contain;
  margin-right: 2px;
  transition-delay: 0.05s;
}
.mail:hover {
  background: url("../img/envelope-open-solid.svg") no-repeat;
  background-size: contain;
}

.phone {
  width: 25px;
  height: 25px;
  background: url("../img/blender-phone-solid.svg") no-repeat;
  background-size: contain;
  margin-right: 2px;
  transition-delay: 0.05s;
}

.phone:hover {
  background: url("../img/phone-volume-solid\ \(1\).svg") no-repeat;
  background-size: contain;
}
.adres {
  width: 25px;
  height: 25px;
  background: url("../img/location-pin-solid.svg") no-repeat;
  background-size: contain;
  margin-right: 2px;
  transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.adres:hover {
  background: url("../img/location-dot-solid.svg") no-repeat;
  background-size: contain;
}

.shoppingcard {
  width: 25px;
  height: 25px;
  background: url("../img/cart-shopping-solid.svg") no-repeat;
  background-size: contain;
  margin-right: 2px;
  transition-delay: 0.05s;
}

.shoppingcard:hover {
  background: url("../img/cart-arrow-down-solid.svg") no-repeat;
  background-size: contain;
}

.formclass {
  margin: 100px;
  border: 3px black solid;
  padding: 5px;
}
